{% load static %}

<nav>
  <div class="logo">
    <img src="{% static 'img/b&b-logo.png' %}" alt="img" />
    <div class="user">
      <h2>S. Boddul Textiles Showroom</h2>
      <!-- <h5>INDIA</h5> -->
    </div>
  </div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">About</a></li>
  </ul>
</nav>
<header>
  <button id="toggle" class="toggle">
    <i class="fa fa-bars fa-2x"></i>
  </button>
  <h1>S. Boddul <br />Textiles Showroom</h1>
  <p>
    Chaddars, Towels, Bedsheets, Napkins, Satranjis and Home Decor Accessories
  </p>
  <address>
    <p>Plot No. 7&8, Konda Nagar, Akkalkot Road, Solapur-6</p>
    <p>+91 9922296240</p>
  </address>
  <!-- <button class="cta-btn" id="open">Sign Up</button> -->
</header>
